*{
    margin: 0;
    padding: 0;
}
.backgroud-imgs{
    position: absolute;
    background-image: url('../img/liuyifei.jpg');
    width: 100%;
    height: 100%;
    inset: 0;
}
.span-box{
    position: absolute;
    inset: 0;
    top: 7%;
    width: 14%;
    left: 3%;
}